# Backend Port
PORT=5000

# Neon PostgreSQL Connection String
# Format: postgresql://[user]:[password]@[neon_hostname]/[dbname]?sslmode=require
DATABASE_URL="postgresql://username:password@ep-cold-xxxx.neon.tech/dbname?sslmode=require"

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME="your_cloud_name"
CLOUDINARY_API_KEY="your_api_key"
CLOUDINARY_API_SECRET="your_api_secret"
